<div id="<%= dom_id log %>">
  <dl>
    <dt>
      <strong><%= t(:review) %>:</strong>
      <span><%= log.review_id %></span>
    </dt>
  
    <dd>
      <strong><%= t(:approval_at) %>:</strong>
      <span><%= log.created_at %></span>        
    </dd>
  </dl>
</div>
