<div id="<%= dom_id review %>">
  <p>
    <strong><%= t(:comment) %>:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong><%= t(:rate) %>:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong><%= t(:movie) %>:</strong>
    <%= review.movie.title %>
  </p>
</div>
