<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <p>
    <%= button_to t(:approve_review), :approve_review, params: {id:@review.id}, method: :patch %>
  </p>

  <%= link_to t(:edit_review), edit_review_path(@review) %> |  
  <%= link_to t(:back_to_reviews), reviews_path %> |
     
  <br>
  <%= button_to t(:destroy_review), @review, method: :delete %>
</div>
